<!DOCTYPE html>
<html>
<head lang="en">
</head>
<body>
    <div style="float: left;width: 300px;overflow: hidden;">
        <img src="____IMAGE_URL____" style="max-width: 300px;max-height: 270px;">
    </div>
    <div style="float: left;width: 300px;font-size: 13px;">
        <div style="margin-bottom: 10px;">
            <h1 style="font-size: 20px;margin-top: 5px;">____NAME____</h1>
        </div>
        <div class="description" style="margin-bottom: 10px;">
            ____DESCRIPTION____
        </div>
        <div class="link" style="margin-bottom: 10px;">
            <a href="{{ product.source_url }}" target="_blank" style="float: left;margin-right: 10px;">See More</a>
        </div>
    </div>
</body>
</html>






var html = '<div style="float: left;width: 300px;overflow: hidden;">
        <img src="http://www.finegardening.com/sites/finegardening.com/files/abeliagrandiflora_mg-2_lg.jpg" style="max-width: 300px;max-height: 270px;"> \
    </div>
    <div style="float: left;width: 300px;font-size: 13px;">
        <div style="margin-bottom: 10px;">
            <h1 style="font-size: 20px;margin-top: 5px;">____NAME____</h1>
        </div>
        <div class="description" style="margin-bottom: 10px;">
            ____DESCRIPTION____
        </div>
        <div class="link" style="margin-bottom: 10px;">
            <a href="{{ product.source_url }}" target="_blank" style="float: left;margin-right: 10px;">See More</a>
        </div>
    </div>';

